.btn {
  transition: all ease 0.3s;
  border-radius: 1px;
}
.btn-primary {
  background: #1b4c82;
}
.btn-primary:hover {
  background: #285893;
}
.btn-secondary {
  background: #f97954;
  border-color: #df6d4a;
}
.btn-secondary:hover {
  background: #fd946d;
}
