body {
  padding: 0;
  font-size: 16px;
}
#main-navbar {
  background: #1b4c82;
  padding: 8px 0;
}
#main-navbar h5 {
  color: #eee;
  font-size: 20px;
}
#main-navbar h5 small {
  margin-left: 10px;
  color: #f97954;
}
#main-navbar h6 {
  color: #eee;
}
#main-navbar ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
#main-navbar ul li {
  display: inline-block;
  margin: 5px;
}
#main-navbar ul li a span {
  color: #fff;
  background: #f97954;
  display: inline-block;
  padding: 5px 8px;
  transition: all ease 0.3s;
}
#main-navbar ul li a .fa {
  position: relative;
  top: 1px;
  color: #fff;
  background: #f97954;
  display: inline-block;
  padding: 8px 10px;
  transition: all ease 0.3s;
}
#main-navbar ul li a:hover span,
#main-navbar ul li a.current span {
  color: #1b4c82;
  background: #fff;
}
#main-navbar ul li a:hover .fa,
#main-navbar ul li a.current .fa {
  color: #fff;
  background: #f97954;
}
#main-content {
  padding: 35px 0 25px 0;
}
#main-content h6 {
  font-size: 16px;
  color: #6295d3;
  font-style: italic;
}
.react-bs-table-container table {
  margin-bottom: 0;
}
#login-page {
  background: #f5f5f5;
  min-height: 100vh;
}
#login-page #login-container {
  margin-top: 30vh;
  background: #fff;
  border: 3px solid #1b4c82;
  border-radius: 5px;
  padding: 45px;
}
#login-page #login-container h1 {
  margin: 5px 0 25px 0;
  font-size: 28px;
  text-align: center;
  color: #1b4c82;
}
#login-page #login-container h1 small {
  color: #666;
  margin-left: 15px;
}
#login-page #login-container .btn-container {
  text-align: center;
}
#login-page #login-container .btn-container button {
  display: inline;
  background: #f97954;
  border-color: #f97954;
}
#login-page #login-container .login-error {
  text-align: center;
  display: block;
  color: firebrick;
}
#login-page #login-container .login-error .fa {
  margin-right: 5px;
}
